h1 {
    text-align: left;
    color: #007BFF; /* Header text color */
    background-color: white; /* Header background color */
    padding: 20px;
    margin: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift */
    font-family: 'Arial', sans-serif;
    border-radius: 12px; /* Add smoother edges to the header */
    margin-bottom: 10px; /* Add space at the bottom of the header */
}

/* Container for the main content */
.main-container {
    background-color:  white; /* Set your desired background color */
    padding: 20px; /* Adjust padding as needed */
    border-radius: 12px; /* Add smoother edges */
    margin-top: 20px; /* Add space between header and main container */
    margin-bottom: 20px; /* Add space at the bottom of the main container */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */

}

body {
 background-color: #f4f4f4;
}


/* Colours */
#dataset-table, #predicted-table, .accuracy-table pre, .information-section p {
    background-color: #ffffff;  
}

/* Dataset Table Styling */
.dataset-title{
    font-family: 'Arial', sans-serif;
}

#dataset-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#dataset-table th, #dataset-table td {
    font-family: 'Arial', sans-serif;
    padding: 12px;
    text-align: center;
    font-size: 13px;
}

/* Predicted Table styling */
.DPS-title{
    font-family: 'Arial', sans-serif;
}

#predicted-table {
    width: auto;
    border-collapse: collapse;
    margin-top: 10px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

#predicted-table th, #predicted-table td {
    padding: 10px;
    text-align: center;
}

 /* Accuracy Table styling */
 .accuracy-table {
    font-family: 'Arial', sans-serif;
}

.accuracy-table pre {
    display: inline-block; /* Make it behave like an inline block */
    border-collapse: collapse;
    margin-top: 10px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd; /* Border color */
}

/* Information Section styling */
.information-section {
    position: absolute;
    top: calc(100%); /* Adjust the distance from the DPS-title as needed */
    left: 35%; /* Adjust the distance from the DPS-title as needed */
    flex-wrap: wrap;
    font-family: 'Arial', sans-serif;
}

.information-section p {
    width: 810px; /* Each paragraph takes the full width */
    padding: 10px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: content-box; /* Include only content in the width, not padding and border */
}

/* Buttons */
#dataset-table,
#predicted-table {
    display: none;
}

.toggle-button {
    margin-top: 10px;   
}

.toggle-button button {
    width: 220px; /* Set the width as needed */
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 15px 30px; /* Adjust padding as needed for height and width */
    font-size: 16px; /* Adjust font size as needed */
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.toggle-button :hover {
    background-color: #0056b3; /* Darker shade on hover */
}

a button {
    width: 200px; /* Set the width as needed */
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 15px 30px; /* Adjust padding as needed for height and width */
    font-size: 16px; /* Adjust font size as needed */
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
    margin: auto; /* Auto margin to center horizontally */
    position: absolute; /* Position absolute to center vertically */
    left: 90%;
    transform: translate(-50%, -150%); /* Adjust to center both horizontally and vertically */
}

a button :hover {
    background-color: #0056b3; /* Darker shade on hover */
}